body {
    background: linear-gradient(135deg, #21262c, #17212e);
    color:	 #d2dde4;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    text-rendering: optimizeSpeed;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}

input, button, textarea, select {
    font: inherit;
}

.global_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
}

.sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    text-align: end;
    line-height: .4;
}

.sidebar_paragraph {
    float: right;
    font-size: 1rem;
    text-align: end;
    background-color: #161719;
    width: 100vw;
    height: 3.5rem;
    border-radius: 1rem 0px 1.3rem 0px;
    padding: 5px 20px 10px 10px;
}

.blog {
    align-content: center;
    /* padding-block: 1rem; */
    padding-top: 6vh;
    width: 100vw;
    position: relative;
}

.blog_entry {
    height: min-content;
    display: block;
    width: 90%;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    margin-bottom: 5vh;
}

.blog_entry::before {
    content: '';
    display: block;
    border-top: 1px solid white;
    width: 75%;
    margin: auto;
}

.blog_entry_header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,20%);
    color: #161719;
}

.blog_entry_title {
    font-size: 1.3rem;
    font-weight: 300;
    grid-column: span 4;
    color: #9DB2BF;
}

em.album_title {
    color: #d2dde4 ;
}

em.album_title::before {
    content: open-quote;
    padding: 2px;
    font-size: 1.2em;
}

em.album_title::after {
    content: close-quote;
    padding: 2px;
    font-size: 1.2em;
}

.blog_entry_date {
    grid-column: span 1;
    color: #93a4c9c5;
    font-weight: 100;
    font-size: 1em;
    padding-left: 15px;
    padding-top: 10px;
    text-align: right;
}

.blog_entry_text {

    
}

.blog_entry_paragraph {
    font-size: 1rem;
    text-align: justify;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    margin-right: auto;
    margin-left: auto;
}

.albumcover_frame {

}

.albumcover_image {
    float: right;
    margin-bottom: .5rem;
}

img.albumcover_image_file {
    width: 20vw;
    height: 20vw;
    filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.527));
}

.albumcover_caption {
    text-align: center;
    color: #bb8f99;

}

.footer_grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
    text-align: center;
    position: absolute;
    color: #9DB2BF;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer_paragraph {
    font-size: 1rem;
}




/* HERE BE DRAGONS */

@media(min-width: 900px) {
    .global_container {
        
    }
    
    .sidebar {
        position: fixed;
        top: 0px;

    }
    
    .sidebar_paragraph {
        float: right;
        font-size: 1.2rem;
        text-align: end;
        background-color: #161719;
        width: 100vw;
        height: 4rem;
        border-radius: 1rem 0px 1.3rem 0px;
        padding: 5px 20px 10px 10px;
    }
    
    .blog {
        align-content: center;
        /* padding-block: 2rem; */
        padding-top: 7vh;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .blog_entry::before {
        content: '';
        display: block;
        border-top: 1px solid white;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .blog_entry_header {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5,20%);
        color: #161719;
    }

    .blog_entry_title {
        font-size: 1.5rem;
        font-weight: 300;
        grid-column: span 4;
        color: #9DB2BF;
    }
    
    .blog_entry_date {
        height: min-content;
        width: fit-content;
        color: #93a4c9c5;
        font-weight: 100;
        font-size: 1.1em;
        top: 25px;
        text-align: right;
    }
    
    .blog_entry_paragraph {
        font-size: 1.5em;
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        margin-right: 1em;
        margin-left: 2px;
    }

    .albumcover_image {
        margin-bottom: .5rem;
    }

    img.albumcover_image_file {
        width: 12vw;
        height: 12vw;
        margin-bottom: .6rem;
    }

}





/* HERE BE DRAGONS 2 */

@media(min-width: 2000px) {

    .blog_entry_title {
        font-size: 2rem;
        font-weight: 300;
        grid-column: span 4;
        color: #9DB2BF;
    }
    
    .blog_entry_paragraph {
        font-size: 1.8em;
    }

    .sidebar_paragraph {
        float: right;
        font-size: 1.2rem;
        text-align: end;
        background-color: #161719;
        width: 100vw;
        height: 4rem;
        border-radius: 1rem 0px 1.3rem 0px;
        padding: 1em 2em 2em 1em;
    }
    
    .blog {
        align-content: center;
        /* padding-block: 2rem; */
        padding-top: 7vh;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .blog_entry_date {
        height: min-content;
        width: fit-content;
        color: #93a4c9c5;
        font-weight: 100;
        font-size: 1.1em;
        text-align: right;
    }

    .blog_entry::before {
        content: '';
        display: block;
        border-top: 1px solid white;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .albumcover_image {
        margin-bottom: .5rem;
    }

    img.albumcover_image_file {
        width: 20em;
        height: 20em;
        margin-bottom: 1rem;
    }
    


}